@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../content/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../content/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../../content/fonts/Montserrat-Medium.ttf");
}
